PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2023-11-26 02:35:58.148830');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2023-11-26 02:35:58.176108');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2023-11-26 02:35:58.213862');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "api_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "username" varchar(100) NOT NULL, "email" varchar(254) NOT NULL UNIQUE);
INSERT INTO api_user VALUES(1,'pbkdf2_sha256$600000$LdVaDeIqdfSi23tkAcncN9$5J2HfqEQWWoZdYXgjeGUKmwv9PzY6Awefb1adY1jRu8=','2024-10-13 11:15:41.403602',1,'','',1,1,'2024-10-12 09:04:20.702058','admin_gaurav','gbhardwaj869@gmail.com');
INSERT INTO api_user VALUES(2,'pbkdf2_sha256$600000$BZEtZIcjcBhz01Wi5Fn8cr$oTWnbwJhgs5rcvwBATaMcmCIrjs7bd9MtZ44DbENvJc=',NULL,0,'','',0,1,'2024-10-12 09:08:40.933916','gaurav256','gbhardwaj507@gmail.com');
CREATE TABLE IF NOT EXISTS "api_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "api_profile" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "full_name" varchar(300) NOT NULL, "bio" varchar(500) NOT NULL, "image" varchar(100) NOT NULL, "verified" bool NOT NULL, "user_id" bigint NOT NULL UNIQUE REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO api_profile VALUES(1,'','','default.jpg',0,1);
INSERT INTO api_profile VALUES(2,'','','default.jpg',0,2);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'00e64931-fe06-4eba-bd08-8b85e639c0b1','Gonzalez, Huerta and Miller',3,'',23,1,'2024-10-12 10:52:23.208139');
INSERT INTO django_admin_log VALUES(2,'b50c1bb7-2377-4eb7-bd74-9e2e41482e0d','Kelly, Bowman and Beltran',3,'',23,1,'2024-10-12 10:52:23.220665');
INSERT INTO django_admin_log VALUES(3,'9686b620-bef1-4819-a9dd-4d03a92ad7ab','Lewis-Dean',3,'',23,1,'2024-10-12 10:52:23.231903');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('red200aheqgi1qiyd15lsm32tuh3hsuc','.eJxVjDkOwjAUBe_iGlleE5uSnjNY_otxADlSnFSIu0OkFNC-mXkvkfK21rR1XtJE4iy0OP1ukPHBbQd0z-02S5zbukwgd0UetMvrTPy8HO7fQc29fmtFQ0EaIGYk1ohGB-vZsyMK2ipgKmjAB-sKFoWEmUwYbXR2NBDZiPcHH0Q5HA:1szY3j:pYTICoaz5oUxqkFmF3ftIp6rNfgdQzvQM8ln5ho0IF4','2024-10-26 09:05:11.732287');
INSERT INTO django_session VALUES('pl6n90o91qf3tteukvtvv2i1rsnymu25','.eJxVjDkOwjAUBe_iGlleE5uSnjNY_otxADlSnFSIu0OkFNC-mXkvkfK21rR1XtJE4iy0OP1ukPHBbQd0z-02S5zbukwgd0UetMvrTPy8HO7fQc29fmtFQ0EaIGYk1ohGB-vZsyMK2ipgKmjAB-sKFoWEmUwYbXR2NBDZiPcHH0Q5HA:1szwZZ:2psSvyEQcyvtgkm5u9ZwmvvDi7gMAvT5arr1ASF2w6o','2024-10-27 11:15:41.433080');
CREATE TABLE IF NOT EXISTS "token_blacklist_blacklistedtoken" ("blacklisted_at" datetime NOT NULL, "token_id" bigint NOT NULL UNIQUE REFERENCES "token_blacklist_outstandingtoken" ("id") DEFERRABLE INITIALLY DEFERRED, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT);
CREATE TABLE IF NOT EXISTS "token_blacklist_outstandingtoken" ("token" text NOT NULL, "created_at" datetime NULL, "expires_at" datetime NOT NULL, "user_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "jti" varchar(255) NOT NULL UNIQUE, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT);
INSERT INTO token_blacklist_outstandingtoken VALUES('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6MTczMzA0NDE3MywiaWF0IjoxNzI4NzI0MTczLCJqdGkiOiI1Yzk5NGZlMjk4ZmY0OTdjOTI0ZjEwODRkMDhjMGEzMiIsInVzZXJfaWQiOjJ9.4M8RauhG9h3L4oEKBM2IWZqnwg3eJXRchsDsc-u8Mak','2024-10-12 09:09:33.561951','2024-12-01 09:09:33',2,'5c994fe298ff497c924f1084d08c0a32',1);
CREATE TABLE IF NOT EXISTS "oauth2_provider_refreshtoken" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "token" varchar(255) NOT NULL, "access_token_id" bigint NULL UNIQUE REFERENCES "oauth2_provider_accesstoken" ("id") DEFERRABLE INITIALLY DEFERRED, "application_id" bigint NOT NULL REFERENCES "oauth2_provider_application" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "created" datetime NOT NULL, "updated" datetime NOT NULL, "revoked" datetime NULL);
CREATE TABLE IF NOT EXISTS "oauth2_provider_idtoken" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "jti" char(32) NOT NULL UNIQUE, "expires" datetime NOT NULL, "scope" text NOT NULL, "created" datetime NOT NULL, "updated" datetime NOT NULL, "application_id" bigint NULL REFERENCES "oauth2_provider_application" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "oauth2_provider_accesstoken" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "token" varchar(255) NOT NULL UNIQUE, "expires" datetime NOT NULL, "scope" text NOT NULL, "application_id" bigint NULL REFERENCES "oauth2_provider_application" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "created" datetime NOT NULL, "updated" datetime NOT NULL, "source_refresh_token_id" bigint NULL UNIQUE REFERENCES "oauth2_provider_refreshtoken" ("id") DEFERRABLE INITIALLY DEFERRED, "id_token_id" bigint NULL UNIQUE REFERENCES "oauth2_provider_idtoken" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "oauth2_provider_grant" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "code" varchar(255) NOT NULL UNIQUE, "expires" datetime NOT NULL, "redirect_uri" text NOT NULL, "scope" text NOT NULL, "application_id" bigint NOT NULL REFERENCES "oauth2_provider_application" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "created" datetime NOT NULL, "updated" datetime NOT NULL, "code_challenge" varchar(128) NOT NULL, "code_challenge_method" varchar(10) NOT NULL, "nonce" varchar(255) NOT NULL, "claims" text NOT NULL);
CREATE TABLE IF NOT EXISTS "oauth2_provider_application" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "client_id" varchar(100) NOT NULL UNIQUE, "redirect_uris" text NOT NULL, "client_type" varchar(32) NOT NULL, "authorization_grant_type" varchar(32) NOT NULL, "client_secret" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "user_id" bigint NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "skip_authorization" bool NOT NULL, "created" datetime NOT NULL, "updated" datetime NOT NULL, "algorithm" varchar(5) NOT NULL, "post_logout_redirect_uris" text NOT NULL);
CREATE TABLE IF NOT EXISTS "social_auth_association" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "server_url" varchar(255) NOT NULL, "handle" varchar(255) NOT NULL, "secret" varchar(255) NOT NULL, "issued" integer NOT NULL, "lifetime" integer NOT NULL, "assoc_type" varchar(64) NOT NULL);
CREATE TABLE IF NOT EXISTS "social_auth_code" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "email" varchar(254) NOT NULL, "code" varchar(32) NOT NULL, "verified" bool NOT NULL, "timestamp" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "social_auth_nonce" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "server_url" varchar(255) NOT NULL, "timestamp" integer NOT NULL, "salt" varchar(65) NOT NULL);
CREATE TABLE IF NOT EXISTS "social_auth_usersocialauth" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "provider" varchar(32) NOT NULL, "uid" varchar(255) NOT NULL, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "created" datetime NOT NULL, "modified" datetime NOT NULL, "extra_data" text NOT NULL CHECK ((JSON_VALID("extra_data") OR "extra_data" IS NULL)));
CREATE TABLE IF NOT EXISTS "social_auth_partial" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "token" varchar(32) NOT NULL, "next_step" smallint unsigned NOT NULL CHECK ("next_step" >= 0), "backend" varchar(32) NOT NULL, "timestamp" datetime NOT NULL, "data" text NOT NULL CHECK ((JSON_VALID("data") OR "data" IS NULL)));
CREATE TABLE IF NOT EXISTS "account_emailconfirmation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created" datetime NOT NULL, "sent" datetime NULL, "key" varchar(64) NOT NULL UNIQUE, "email_address_id" integer NOT NULL REFERENCES "account_emailaddress" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "account_emailaddress" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "verified" bool NOT NULL, "primary" bool NOT NULL, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "email" varchar(254) NOT NULL);
CREATE TABLE IF NOT EXISTS "socialaccount_socialapp" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "provider" varchar(30) NOT NULL, "name" varchar(40) NOT NULL, "client_id" varchar(191) NOT NULL, "secret" varchar(191) NOT NULL, "key" varchar(191) NOT NULL, "provider_id" varchar(200) NOT NULL, "settings" text NOT NULL CHECK ((JSON_VALID("settings") OR "settings" IS NULL)));
CREATE TABLE IF NOT EXISTS "socialaccount_socialtoken" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "token" text NOT NULL, "token_secret" text NOT NULL, "expires_at" datetime NULL, "account_id" integer NOT NULL REFERENCES "socialaccount_socialaccount" ("id") DEFERRABLE INITIALLY DEFERRED, "app_id" integer NULL REFERENCES "socialaccount_socialapp" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "socialaccount_socialaccount" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "provider" varchar(200) NOT NULL, "uid" varchar(191) NOT NULL, "last_login" datetime NOT NULL, "date_joined" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "extra_data" text NOT NULL CHECK ((JSON_VALID("extra_data") OR "extra_data" IS NULL)));
CREATE TABLE IF NOT EXISTS "django_rest_passwordreset_resetpasswordtoken" ("created_at" datetime NOT NULL, "key" varchar(64) NOT NULL UNIQUE, "user_agent" varchar(256) NOT NULL, "user_id" bigint NOT NULL REFERENCES "api_user" ("id") DEFERRABLE INITIALLY DEFERRED, "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "ip_address" char(39) NULL);
CREATE TABLE IF NOT EXISTS "warehouse_godown" ("id" varchar(50) NOT NULL PRIMARY KEY, "name" varchar(255) NOT NULL, "parent_godown_id" varchar(50) NULL REFERENCES "warehouse_godown" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO warehouse_godown VALUES('01b9b166-7bf9-42b7-88bb-b8ccb9b4abc5','Morales-French',NULL);
INSERT INTO warehouse_godown VALUES('9619f110-3b1c-4f05-b267-1dcb62e3572c','Bell Group',NULL);
INSERT INTO warehouse_godown VALUES('6b7bd225-5e30-4bdd-948e-620999266c56','Copeland, James and Pearson',NULL);
CREATE TABLE IF NOT EXISTS "warehouse_item" ("item_id" varchar(50) NOT NULL PRIMARY KEY, "name" varchar(255) NOT NULL, "quantity" integer NOT NULL, "category" varchar(100) NOT NULL, "price" real NOT NULL, "status" varchar(50) NOT NULL, "brand" varchar(255) NOT NULL, "attributes" text NOT NULL CHECK ((JSON_VALID("attributes") OR "attributes" IS NULL)), "image_url" varchar(500) NOT NULL, "godown_id" varchar(50) NOT NULL REFERENCES "warehouse_godown" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO warehouse_item VALUES('97f973aa-591b-4ef2-9a1b-09503d3e0c96','Switchable disintermediate array',57,'Tools',137.34999999999999431,'in_stock','Townsend, Rasmussen and Vincent','{"material": "Metal", "warranty_years": 3, "color": "PaleVioletRed"}','https://dummyimage.com/222x744','e2e741ad-f723-49ff-8619-0b678824380c');
INSERT INTO warehouse_item VALUES('b2160553-39b9-41bc-91ec-7661dfab03a6','Universal 3rdgeneration synergy',269,'Electronics',266.10000000000002273,'in_stock','Woods, Hall and Russell','{"material": "Plastic", "warranty_years": 4, "color": "DeepPink"}','https://placekitten.com/670/981','55c5d3b2-300f-40d9-a276-cf81cb02f393');
INSERT INTO warehouse_item VALUES('033b4098-ba54-4d0d-bd21-3f23f1c9a584','Adaptive multi-tasking leverage',51,'Electronics',552.45000000000004545,'out_of_stock','Jimenez, Davis and Schneider','{"material": "Metal", "warranty_years": 2, "color": "Wheat"}','https://placekitten.com/527/873','c6ba24e4-f2ef-45e5-a1f9-85a8493cf22f');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',76);
INSERT INTO sqlite_sequence VALUES('django_content_type',23);
INSERT INTO sqlite_sequence VALUES('auth_permission',92);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "api_user_groups_user_id_group_id_9c7ddfb5_uniq" ON "api_user_groups" ("user_id", "group_id");
CREATE INDEX "api_user_groups_user_id_a5ff39fa" ON "api_user_groups" ("user_id");
CREATE INDEX "api_user_groups_group_id_3af85785" ON "api_user_groups" ("group_id");
CREATE UNIQUE INDEX "api_user_user_permissions_user_id_permission_id_a06dd704_uniq" ON "api_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "api_user_user_permissions_user_id_f3945d65" ON "api_user_user_permissions" ("user_id");
CREATE INDEX "api_user_user_permissions_permission_id_305b7fea" ON "api_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "token_blacklist_outstandingtoken_user_id_83bc629a" ON "token_blacklist_outstandingtoken" ("user_id");
CREATE UNIQUE INDEX "oauth2_provider_refreshtoken_token_revoked_af8a5134_uniq" ON "oauth2_provider_refreshtoken" ("token", "revoked");
CREATE INDEX "oauth2_provider_refreshtoken_application_id_2d1c311b" ON "oauth2_provider_refreshtoken" ("application_id");
CREATE INDEX "oauth2_provider_refreshtoken_user_id_da837fce" ON "oauth2_provider_refreshtoken" ("user_id");
CREATE INDEX "oauth2_provider_idtoken_application_id_08c5ff4f" ON "oauth2_provider_idtoken" ("application_id");
CREATE INDEX "oauth2_provider_idtoken_user_id_dd512b59" ON "oauth2_provider_idtoken" ("user_id");
CREATE INDEX "oauth2_provider_accesstoken_application_id_b22886e1" ON "oauth2_provider_accesstoken" ("application_id");
CREATE INDEX "oauth2_provider_accesstoken_user_id_6e4c9a65" ON "oauth2_provider_accesstoken" ("user_id");
CREATE INDEX "oauth2_provider_grant_application_id_81923564" ON "oauth2_provider_grant" ("application_id");
CREATE INDEX "oauth2_provider_grant_user_id_e8f62af8" ON "oauth2_provider_grant" ("user_id");
CREATE INDEX "oauth2_provider_application_client_secret_53133678" ON "oauth2_provider_application" ("client_secret");
CREATE INDEX "oauth2_provider_application_user_id_79829054" ON "oauth2_provider_application" ("user_id");
CREATE UNIQUE INDEX "social_auth_association_server_url_handle_078befa2_uniq" ON "social_auth_association" ("server_url", "handle");
CREATE UNIQUE INDEX "social_auth_code_email_code_801b2d02_uniq" ON "social_auth_code" ("email", "code");
CREATE INDEX "social_auth_code_code_a2393167" ON "social_auth_code" ("code");
CREATE INDEX "social_auth_code_timestamp_176b341f" ON "social_auth_code" ("timestamp");
CREATE UNIQUE INDEX "social_auth_nonce_server_url_timestamp_salt_f6284463_uniq" ON "social_auth_nonce" ("server_url", "timestamp", "salt");
CREATE UNIQUE INDEX "social_auth_usersocialauth_provider_uid_e6b5e668_uniq" ON "social_auth_usersocialauth" ("provider", "uid");
CREATE INDEX "social_auth_usersocialauth_uid_796e51dc" ON "social_auth_usersocialauth" ("uid");
CREATE INDEX "social_auth_usersocialauth_user_id_17d28448" ON "social_auth_usersocialauth" ("user_id");
CREATE INDEX "social_auth_partial_token_3017fea3" ON "social_auth_partial" ("token");
CREATE INDEX "social_auth_partial_timestamp_50f2119f" ON "social_auth_partial" ("timestamp");
CREATE INDEX "account_emailconfirmation_email_address_id_5b7f8c58" ON "account_emailconfirmation" ("email_address_id");
CREATE UNIQUE INDEX "account_emailaddress_user_id_email_987c8728_uniq" ON "account_emailaddress" ("user_id", "email");
CREATE UNIQUE INDEX "unique_verified_email" ON "account_emailaddress" ("email") WHERE "verified";
CREATE INDEX "account_emailaddress_user_id_2c513194" ON "account_emailaddress" ("user_id");
CREATE INDEX "account_emailaddress_upper" ON "account_emailaddress" ((UPPER("email")));
CREATE UNIQUE INDEX "socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq" ON "socialaccount_socialtoken" ("app_id", "account_id");
CREATE INDEX "socialaccount_socialtoken_account_id_951f210e" ON "socialaccount_socialtoken" ("account_id");
CREATE INDEX "socialaccount_socialtoken_app_id_636a42d7" ON "socialaccount_socialtoken" ("app_id");
CREATE UNIQUE INDEX "socialaccount_socialaccount_provider_uid_fc810c6e_uniq" ON "socialaccount_socialaccount" ("provider", "uid");
CREATE INDEX "socialaccount_socialaccount_user_id_8146e70c" ON "socialaccount_socialaccount" ("user_id");
CREATE INDEX "django_rest_passwordreset_resetpasswordtoken_user_id_e8015b11" ON "django_rest_passwordreset_resetpasswordtoken" ("user_id");
CREATE INDEX "warehouse_godown_parent_godown_id_a67d3bbb" ON "warehouse_godown" ("parent_godown_id");
CREATE INDEX "warehouse_item_godown_id_3dfc818f" ON "warehouse_item" ("godown_id");
COMMIT;
